.rsociales

.logo
    img(src="img/header/logo.jpg")
.menu
    a(href="index.html") Inicio
    a(href="restaurante.aspx") Restaurante
    a(href="nosotros.html") Sobre Nosotros
    a(href="contacto.html") Contacto
