* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ddd5d8;
}

header {
  margin: auto;
  background-color: #231F20;
  width: 95%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo img {
  width: 16%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  padding: 1em;
}

.menu a {
  font-weight: bold;
  text-decoration: none;
  color: #e79325;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.menu a:hover {
  border-bottom: 0.2em solid;
  border-color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

footer {
  background-color: #231F20;
  padding: 0.5em;
}

footer .copyr {
  color: white;
}

.menu {
  margin-right: 2em;
}

main {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

main .tactual {
  color: white;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  border: 3px solid black;
  border-radius: 1em;
  background-color: #910048;
}

main #DLmenu {
  margin: auto;
}

main #DLmenu td {
  padding: 0.3em;
}

main #DLmenu input {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: black;
  color: white;
}

main #DLmenu input:hover {
  background-color: #ff925e;
}

main .btnCategoria:HOVER {
  background-color: #ff925e;
}

main .carta {
  margin: auto;
  width: 80%;
  border-top: 2px solid black;
  border-width: 0.3em;
  border-radius: 1em;
}

main .carta #lvCarta {
  margin-top: 0.5em;
}
