main {
    margin: auto;
    width: 80%;
}

.imagenDes {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    .ileft {
        width: 60%;
    }
    .chef {
        a {
            margin-top: 30%;
            font-size: 0.7em;
            text-align: center;
        }
    }
}

.mejoresprodc {
    text-align: center;
    margin: auto;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border-top: 2px solid;
    border-color: #646363;
    padding: 1em;
    h2 {
        margin: auto;
    }
    .productos {
        display: flex;
        justify-content: center;
        p {
            font-weight: bold;
            font-style: italic;
        }
    }
}

.noticias {
    text-align: center;
    margin: auto;
    margin-top: 1.2em;
    border-top: 2px solid;
    border-color: #646363;
    padding: 1em;
    h2 {
        margin: auto;
        margin-bottom: 0.5em;
    }
    .tablon {
        display: flex;
        justify-content: center;
        aside {
            padding: 0.6em;
            margin-left: 0.7em;
            margin-left: 0.7em;
            border: 3px solid;
            border-radius: 1em;
            img {
                width: 50%;
            }
        }
    }
}