main{
    margin: auto;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.imgus{
    margin: auto;
    img{
        width: 25%;
    }

    .textous{
        border: 0.5em solid;
        border-radius: 1em;
    }
}