@import '_reset.scss';

header{
    margin: auto;
    background-color: #231f20;
    display: flex;
    width: 95%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
    .logo{
        margin: auto;
        width: 20%;
    }
    
    
    