.imagenDes
    img(src="img/main/exterior.jpg", class="ileft", alt="", srcset="")
    .chef
        img(src="img/main/monigote.png", class="chefhelp", alt="", srcset="")
        a(href="restaurante.aspx"): h3 ¡Visita nuestros restaurantes o pide a domicilio!


.mejoresprodc
    h2 ¡Nuestras mejores recetas!        
    .productos
        aside
            img(src="img/carta/04.png", alt="", srcset="")
            p Pizza Peperoni
        aside
            img(src="img/carta/03.png", alt="", srcset="")
            p Pizza Iberica
        aside
            img(src="img/carta/01.png", alt="", srcset="")
            p Pizza carbonara

.noticias
    h2 ¡Ultimas noticias!
    .tablon
        aside
            img(src="img/ofertas/oferta.jpg", alt="", srcset="")
            p ¡Nuevas ofertas a partir de mañana!
        aside
            img(src="img/eventos/inaguracion.jpg", alt="", srcset="")
            p ¡Celebramos nueva inaguración!
        aside
            img(src="img/eventos/diapizza.jpg", alt="", srcset="")
            p ¡Celebramos el día de las pizzas!
