

.formulario
    .imagencontacto
        img(src="img/contacto/contacto.jpg", alt="", srcset="")
        h2 Teléfono de contacto de la franquicia: 900 000 000
        span Consulta nuestras direcciones en el apartado restaurante
        form(action="", method="post")
            span Nombre
            p: input#nombre(type="text", name="")
            
            span Email
            p: input#email(type="text", name="")
            
            span Asunto
            p: input#asunto(type="text", name="")
            
            span Mensaje
            p: textarea(cols="60", rows="10")

            input(type="button", value="Enviar")
            input(type="button", value="Borrar")