header {
    margin: auto;
    background-color: #231F20;
    width: 95%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.logo {
    display: flex;
    justify-content: center;
    img {
        width: 16%;
    }
}

.menu {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
    a {
        font-weight: bold;
        text-decoration: none;
        color: #e79325;
        margin-left: 0.7em;
        margin-right: 0.7em;
    }
    a:hover{
        border-bottom: 0.2em solid;
        border-color: #FFFFFF;
    }

}